@namespace WiredBrainCoffee.UI.Admin
@using Microsoft.AspNetCore.Components.QuickGrid

@if (Orders == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h2>Order History</h2>
        <hr />
        <div class="order-history">
            <div class="grid">
                <QuickGrid Items="@Orders" Pagination="@pagination">
                    <PropertyColumn Property="@(o => o.OrderNumber)" Title="ID" Sortable="true" />
                    <PropertyColumn Property="@(o => o.LastName)" Title="Last" Sortable="true" />
                    <PropertyColumn Property="@(o => o.FirstName)" Title="First" Sortable="true" />
                    <PropertyColumn Property="@(o => o.Notes)" Title="Notes" Sortable="true" />
                    <PropertyColumn Property="@(o => o.Created)" Title="Date" Sortable="true" />
                    <PropertyColumn Property="@(o => o.Items.Count)" Title="Count" Sortable="true" />
                </QuickGrid>
                <Paginator State="@pagination" />
            </div>
        </div>
    </div>

}